*{
    color:antiquewhite;
    width: auto;
}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./dragotta.jpeg');
    -webkit-background-size: cover;
    background-size: cover;
    
}
body{
    /*display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url('./dragotta.jpeg');
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgba(100, 120, 118, 0.737);
}
.homeDiv{
    height: 100vh;
    width: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: rgba(100, 120, 118,.15);*/
}
h1{
    font-size: 40px;
    font-weight: 100;
}
h1, h2{
    text-align: center;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    font-size: 20px;
    text-align: center;
}
.bodyDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
    
    
}
.quote{
    padding: 8px;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}
.originStory{
    display: flex;
    align-items: flex-end;
    margin-left: 60px;
    padding:8px;
    grid-column-start: 2;
    font-weight: 100;
    font-size: 20px;
}
.nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.tabLinks{
    color:antiquewhite;
    background-color:rgb(23,23,31);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 5vh;
    width: 200px;
}
.tabLinks:hover{
    background-color: rgb(212, 73, 74);
}
.contactDiv{

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.contactList{
    list-style: none;
    text-align: right;
    padding: 8px;
    margin: 8px;

}
li{
    padding: 4px;
}
.menuDiv{
    display: grid;
    width: 100vh;
    height: 100vh;
    padding: 8px;
    /*grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);*/
    font-size: 13px;
    font-weight: 100;
}

.hidden{
    display: none;
}